#main-header {
  height: 40px;
  background: #ffffff;
  color: #343a40;
}

#main-footer {
  background: #343a40;
  bottom: 0;
  color: #ffffff;
}

#main-body {
  height: auto;
}

#app-nav-bar {
  height: 40px;
  color: #4b4944;
  background: #f7f7f5;
}

.header-text {
  display: contents;
  text-align: center;
  align-items: center;
}

.header-iconbtn {
  display: contents;
}

.header-textbtn {
  display: contents;
  color: #343a40;
}
