#main-footer {
  background: #343a40;
  color: #ffffff;
}

#page-header {
  height: 40px;
  background: #ffffff;
  color: #343a40;
}

.header-text {
  display: contents;
  text-align: center;
  align-items: center;
}

.header-iconbtn {
  display: contents;
}

.header-textbtn {
  display: contents;
  color: #343a40;
}
